<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo8xEqXeZgJjOL21SCFTW54Ms54oncXXA</string>
	<key>GCM_SENDER_ID</key>
	<string>920429460532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salonbooking.app</string>
	<key>PROJECT_ID</key>
	<string>salonbookingapp-dd24d</string>
	<key>STORAGE_BUCKET</key>
	<string>salonbookingapp-dd24d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920429460532:ios:def82f69b204f668ddde61</string>
</dict>
</plist>